.bookmark .basic,
.bookmark .action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    gap: 5px;
}

.bookmark .basic {
    padding: 0.5rem;
    background: transparent;
    border-radius: var(--border-rad);
    transition: 0.3s;
}

.bookmark .action-btn {
    padding: 0.5rem 1.7rem;
    border-radius: 14px;
    background-color: var(--red);
    transition: 0.3s;
}

.bookmark .basic:hover {
    background: rgba(255, 255, 255, 0.1);
}

.bookmark .action-btn:hover {
    background-color: var(--red-hover);
}
